@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-white: #ffffff;
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.displayNone {
  display: none;
}
.smallCaps {
  font-variant: small-caps;
}
html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: rgb(52, 61, 63);
}

.fontRighteous {
  font-family: "Righteous", sans-serif;
}

/* font-family: "Righteous", sans-serif;
font-family: "Nunito", sans-serif; */
